.sequencer {
  grid-area: main;
  grid-template-rows: 1fr auto;
  display: none;
}
.sequencer--active {
  display: grid;
}

.channel-list {
  overflow-y: scroll;
  background-color: #555;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}
.channel-list__controls {
  padding-top: 1em;
  padding-left: 0.5em;
}
.channel-list__sequences {
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #555;
  padding-top: 1em;
  padding-right: 1em;
}

.channel {
  margin: 0.5em;
  margin-right: 0;
  padding: 0.5em 1em;
  background-color: #cccccc;
  border-right: 1px solid black;
  border-radius: 5px 0 0 5px;
  display: grid;
  grid-template-areas: "patch-label	pan-label	level-label	.			." "patch				pan				level				solo	mute";
  text-align: center;
  justify-content: center;
  align-items: center;
}
.channel__patch {
  grid-area: patch;
  cursor: pointer;
  width: 10em;
  margin: 0 0.5em;
  padding: 0.25em;
}
.channel__patch-label {
  grid-area: patch-label;
  font-size: 0.75rem;
  align-self: flex-end;
  margin: 0 0.5em;
}
.channel__pan {
  grid-area: pan;
  cursor: pointer;
  width: 5em;
  margin: 0 0.5em;
  padding: 0.25em;
  background-color: transparent;
}
.channel__pan::-moz-range-thumb {
  background-color: #e61a1a;
  border: none;
  border-radius: 0.25em;
  width: 0.5em;
}
.channel__pan::-moz-range-track {
  background-color: black;
}
.channel__pan-label {
  grid-area: pan-label;
  font-size: 0.75rem;
  align-self: flex-end;
  margin: 0 0.5em;
}
.channel__level {
  grid-area: level;
  width: 5em;
  margin: 0 0.5em;
  padding: 0.25em;
  text-align: center;
}
.channel__level-label {
  grid-area: level-label;
  font-size: 0.75rem;
  margin: 0 0.5em;
  align-self: flex-end;
}
.channel__solo {
  grid-area: solo;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}
.channel__solo:hover {
  border: 1px solid white;
  color: white;
}
.channel__solo--active {
  color: white;
  background-color: #1ab3e6;
}
.channel__mute {
  grid-area: mute;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}
.channel__mute:hover {
  border: 1px solid white;
  color: white;
}
.channel__mute--active {
  color: white;
  background-color: #bd0f0f;
}
.channel__sequence {
  width: max-content;
  margin: 0.5em;
  margin-left: 0;
  background-color: #999999;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  counter-reset: beat;
}

.bar {
  display: flex;
  align-items: center;
  padding: 1.5em 1em;
  padding-left: 0.5em;
}
.bar:nth-child(2n) {
  background-color: #b3b3b3;
}
.bar:last-child {
  border-radius: 0 5px 5px 0;
}

.step {
  margin: 0 0.25em;
  font-size: 0.75rem;
  width: 1.25em;
  height: 1.75em;
  background-color: none;
  border: 2px solid red;
  text-align: center;
  border-radius: 0.5em;
  cursor: pointer;
}
.step--active {
  background-color: red;
  border: 2px solid black;
}
.step--playing {
  border: 2px solid white;
}
.step:nth-child(4n-3) {
  position: relative;
  counter-increment: beat;
  margin-left: 1em;
}
.step:nth-child(4n-3):after {
  content: counter(beat);
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 0.625rem;
}

.playback {
  background-color: #1a1a1a;
  padding: 1em;
  display: grid;
  grid-template-areas: "play-label		stop-label	tempo-label" "play-button	stop-button	tempo-input";
  justify-content: center;
}
.playback__play {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.25em 1em;
  margin: 0.5em;
  border: 2px solid red;
  border-radius: 3px;
  color: black;
  background-color: red;
  grid-area: play-button;
}
.playback__play:focus, .playback__play:hover {
  border: 2px solid #e6e6e6;
}
.playback__play:hover {
  color: #e6e6e6;
  background-color: maroon;
  background-image: linear-gradient(maroon, red);
}
.playback__play-label {
  grid-area: play-label;
  color: white;
  text-align: center;
}
.playback__stop {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.25em 1em;
  margin: 0.5em;
  border: 2px solid red;
  border-radius: 3px;
  color: black;
  background-color: red;
  grid-area: stop-button;
}
.playback__stop:focus, .playback__stop:hover {
  border: 2px solid #e6e6e6;
}
.playback__stop:hover {
  color: #e6e6e6;
  background-color: maroon;
  background-image: linear-gradient(maroon, red);
}
.playback__stop-label {
  grid-area: stop-label;
  color: white;
  text-align: center;
}
.playback__tempo {
  grid-area: tempo-input;
  margin: 1em;
  padding-right: 1em;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  appearance: textfield;
  width: 5em;
}
.playback__tempo-label {
  grid-area: tempo-label;
  color: white;
  text-align: center;
}
.playback__tempo-bpm {
  grid-area: tempo-input;
  cursor: text;
  justify-self: flex-end;
  align-self: center;
  margin: 0.5em 2.25em 0;
  font-size: 0.625rem;
}

.synth {
  grid-area: main;
  grid-template-areas: "osc	filter	env			lfo" "key	key			master	master";
  overflow-y: scroll;
  display: none;
}
.synth--active {
  display: grid;
}
@media only screen and (max-width: 1250px) {
  .synth {
    grid-template-areas: "osc	filter	filter" "env	lfo			master" "key	key			master";
  }
}

.oscillator {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: osc;
}
.oscillator__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.oscillator__title {
  text-align: center;
  padding: 0.5em;
}
.oscillator__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.oscillator__content {
  display: grid;
  grid-template-areas: "waveform display";
  justify-content: center;
  align-items: center;
}
.oscillator__waveform {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1em;
  padding: 0.5em;
  grid-area: waveform;
}
.oscillator__waveform-title {
  text-align: center;
  cursor: default;
  user-select: none;
}
.oscillator__sine, .oscillator__square, .oscillator__triangle, .oscillator__sawtooth {
  cursor: pointer;
  user-select: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "button label";
  align-items: center;
}
.oscillator__sine-display, .oscillator__square-display, .oscillator__triangle-display, .oscillator__sawtooth-display {
  grid-area: button;
  border-radius: 50%;
  margin: 0.5em;
  margin-left: 0;
  width: 13px;
  height: 13px;
  background-color: #e61a1a;
}
.oscillator__sine-label, .oscillator__square-label, .oscillator__triangle-label, .oscillator__sawtooth-label {
  grid-area: label;
  cursor: pointer;
  user-select: none;
}
.oscillator__sine-input, .oscillator__square-input, .oscillator__triangle-input, .oscillator__sawtooth-input {
  grid-area: button;
  display: none;
}
.oscillator__sine-input:checked ~ .oscillator__sine-display, .oscillator__sine-input:checked ~ .oscillator__square-display, .oscillator__sine-input:checked ~ .oscillator__triangle-display, .oscillator__sine-input:checked ~ .oscillator__sawtooth-display, .oscillator__square-input:checked ~ .oscillator__sine-display, .oscillator__square-input:checked ~ .oscillator__square-display, .oscillator__square-input:checked ~ .oscillator__triangle-display, .oscillator__square-input:checked ~ .oscillator__sawtooth-display, .oscillator__triangle-input:checked ~ .oscillator__sine-display, .oscillator__triangle-input:checked ~ .oscillator__square-display, .oscillator__triangle-input:checked ~ .oscillator__triangle-display, .oscillator__triangle-input:checked ~ .oscillator__sawtooth-display, .oscillator__sawtooth-input:checked ~ .oscillator__sine-display, .oscillator__sawtooth-input:checked ~ .oscillator__square-display, .oscillator__sawtooth-input:checked ~ .oscillator__triangle-display, .oscillator__sawtooth-input:checked ~ .oscillator__sawtooth-display {
  background-color: lime;
  border: 1px solid black;
}
.oscillator__oscilloscope {
  grid-area: display;
  width: 400px;
  height: 200px;
  background-color: #000000;
  border: 1px solid #000000;
}

.filter {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: filter;
}
.filter__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.filter__title {
  text-align: center;
  padding: 0.5em;
}
.filter__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.filter__content {
  display: grid;
  grid-template-areas: "type		cutoff" "type		q";
  align-items: center;
}
.filter__type {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1em;
  padding: 0.5em;
  grid-area: type;
}
.filter__type-title {
  text-align: center;
  cursor: default;
  user-select: none;
}
.filter__lowpass, .filter__bandpass, .filter__highpass {
  cursor: pointer;
  user-select: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "button label";
  align-items: center;
}
.filter__lowpass-display, .filter__bandpass-display, .filter__highpass-display {
  grid-area: button;
  border-radius: 50%;
  margin: 0.5em;
  margin-left: 0;
  width: 13px;
  height: 13px;
  background-color: #e61a1a;
}
.filter__lowpass-label, .filter__bandpass-label, .filter__highpass-label {
  grid-area: label;
  cursor: pointer;
  user-select: none;
}
.filter__lowpass-input, .filter__bandpass-input, .filter__highpass-input {
  grid-area: button;
  display: none;
}
.filter__lowpass-input:checked ~ .filter__lowpass-display, .filter__lowpass-input:checked ~ .filter__bandpass-display, .filter__lowpass-input:checked ~ .filter__highpass-display, .filter__bandpass-input:checked ~ .filter__lowpass-display, .filter__bandpass-input:checked ~ .filter__bandpass-display, .filter__bandpass-input:checked ~ .filter__highpass-display, .filter__highpass-input:checked ~ .filter__lowpass-display, .filter__highpass-input:checked ~ .filter__bandpass-display, .filter__highpass-input:checked ~ .filter__highpass-display {
  background-color: lime;
  border: 1px solid black;
}
.filter__cutoff {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "label" "display" "input";
  justify-items: center;
  grid-gap: 0.5em;
  margin: 1em;
  padding: 0.5em;
  width: max-content;
  border: 1px solid black;
  grid-area: cutoff;
}
.filter__cutoff-display {
  grid-area: display;
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  --rotate: 0;
  transform: rotate(var(--rotate));
  cursor: pointer;
}
.filter__cutoff-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 15px;
  transform: translateY(1px);
  background-color: white;
}
.filter__cutoff-label {
  grid-area: label;
  text-align: center;
  cursor: default;
  user-select: none;
}
.filter__cutoff-input {
  grid-area: input;
  padding: 0.5em;
  padding-left: 2em;
  text-align: center;
  font-size: 1rem;
}
.filter__resonance {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "label" "display" "input";
  justify-items: center;
  grid-gap: 0.5em;
  margin: 1em;
  padding: 0.5em;
  width: max-content;
  border: 1px solid black;
  grid-area: q;
}
.filter__resonance-display {
  grid-area: display;
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  --rotate: 0;
  transform: rotate(var(--rotate));
  cursor: pointer;
}
.filter__resonance-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 15px;
  transform: translateY(1px);
  background-color: white;
}
.filter__resonance-label {
  grid-area: label;
  text-align: center;
  cursor: default;
  user-select: none;
}
.filter__resonance-input {
  grid-area: input;
  padding: 0.5em;
  padding-left: 2em;
  text-align: center;
  font-size: 1rem;
}

.envelope {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: env;
}
.envelope__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.envelope__title {
  text-align: center;
  padding: 0.5em;
}
.envelope__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.envelope__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.envelope__attack {
  width: max-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.envelope__attack-label {
  text-align: center;
  cursor: default;
  user-select: none;
}
.envelope__attack-input {
  margin: 1.5em 1em;
  background-color: #e6e6e6;
}
.envelope__attack-input::-webkit-slider-runnable-track, .envelope__attack-input::-moz-range-track {
  background-color: black;
  height: 140px;
}
.envelope__attack-input::-webkit-slider-thumb, .envelope__attack-input::-moz-range-thumb {
  width: 40px;
  height: 28px;
  border-radius: 0;
  background-color: #000000;
  cursor: pointer;
  transform: rotate(90deg);
}
.envelope__decay {
  width: max-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.envelope__decay-label {
  text-align: center;
  cursor: default;
  user-select: none;
}
.envelope__decay-input {
  margin: 1.5em 1em;
  background-color: #e6e6e6;
}
.envelope__decay-input::-webkit-slider-runnable-track, .envelope__decay-input::-moz-range-track {
  background-color: black;
  height: 140px;
}
.envelope__decay-input::-webkit-slider-thumb, .envelope__decay-input::-moz-range-thumb {
  width: 40px;
  height: 28px;
  border-radius: 0;
  background-color: #000000;
  cursor: pointer;
  transform: rotate(90deg);
}
.envelope__sustain {
  width: max-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.envelope__sustain-label {
  text-align: center;
  cursor: default;
  user-select: none;
}
.envelope__sustain-input {
  margin: 1.5em 1em;
  background-color: #e6e6e6;
}
.envelope__sustain-input::-webkit-slider-runnable-track, .envelope__sustain-input::-moz-range-track {
  background-color: black;
  height: 140px;
}
.envelope__sustain-input::-webkit-slider-thumb, .envelope__sustain-input::-moz-range-thumb {
  width: 40px;
  height: 28px;
  border-radius: 0;
  background-color: #000000;
  cursor: pointer;
  transform: rotate(90deg);
}
.envelope__release {
  width: max-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.envelope__release-label {
  text-align: center;
  cursor: default;
  user-select: none;
}
.envelope__release-input {
  margin: 1.5em 1em;
  background-color: #e6e6e6;
}
.envelope__release-input::-webkit-slider-runnable-track, .envelope__release-input::-moz-range-track {
  background-color: black;
  height: 140px;
}
.envelope__release-input::-webkit-slider-thumb, .envelope__release-input::-moz-range-thumb {
  width: 40px;
  height: 28px;
  border-radius: 0;
  background-color: #000000;
  cursor: pointer;
  transform: rotate(90deg);
}

.lfo {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: lfo;
}
.lfo__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.lfo__title {
  text-align: center;
  padding: 0.5em;
}
.lfo__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.lfo__content {
  display: grid;
  justify-content: center;
  align-items: center;
}
.lfo__rate {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "label" "display" "input";
  justify-items: center;
  grid-gap: 0.5em;
  margin: 1em;
  padding: 0.5em;
  width: max-content;
  border: 1px solid black;
}
.lfo__rate-display {
  grid-area: display;
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  --rotate: 0;
  transform: rotate(var(--rotate));
  cursor: pointer;
}
.lfo__rate-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 15px;
  transform: translateY(1px);
  background-color: white;
}
.lfo__rate-label {
  grid-area: label;
  text-align: center;
  cursor: default;
  user-select: none;
}
.lfo__rate-input {
  grid-area: input;
  padding: 0.5em;
  padding-left: 2em;
  text-align: center;
  font-size: 1rem;
}
.lfo__depth {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "label" "display" "input";
  justify-items: center;
  grid-gap: 0.5em;
  margin: 1em;
  padding: 0.5em;
  width: max-content;
  border: 1px solid black;
}
.lfo__depth-display {
  grid-area: display;
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  --rotate: 0;
  transform: rotate(var(--rotate));
  cursor: pointer;
}
.lfo__depth-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 15px;
  transform: translateY(1px);
  background-color: white;
}
.lfo__depth-label {
  grid-area: label;
  text-align: center;
  cursor: default;
  user-select: none;
}
.lfo__depth-input {
  grid-area: input;
  padding: 0.5em;
  padding-left: 2em;
  text-align: center;
  font-size: 1rem;
}

.keyboard {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: key;
}
.keyboard__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.keyboard__title {
  text-align: center;
  padding: 0.5em;
}
.keyboard__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.keyboard__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard__keys {
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  padding: 0.5em 0.5em 1em;
  box-shadow: -2px -2px 1px #000000, inset -2px -3px 2px #000000;
}
.keyboard__key {
  cursor: pointer;
  width: 58px;
  height: 196px;
  box-shadow: 2px 2px 2px #000000;
  background-color: #ffffff;
}
.keyboard__key:hover {
  background-color: #eeeeee;
}

.master {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: master;
}
.master__header {
  border-bottom: 1px solid black;
  background-color: #b3b3b3;
}
.master__title {
  text-align: center;
  padding: 0.5em;
}
.master__content {
  padding: 1em;
  background-color: #e6e6e6;
}
.master__content {
  display: grid;
  grid-template-areas: "volume	patch	list";
  grid-template-columns: auto auto 1fr;
  gap: 2em;
}
@media only screen and (max-width: 1250px) {
  .master__content {
    grid-template-areas: "volume	patch" "list		list";
    grid-template-columns: auto auto;
  }
}
.master__volume {
  width: max-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: volume;
}
.master__volume-label {
  text-align: center;
  cursor: default;
  user-select: none;
}
.master__volume-input {
  margin: 1.5em 1em;
  background-color: #e6e6e6;
}
.master__volume-input::-webkit-slider-runnable-track, .master__volume-input::-moz-range-track {
  background-color: black;
  height: 140px;
}
.master__volume-input::-webkit-slider-thumb, .master__volume-input::-moz-range-thumb {
  width: 40px;
  height: 28px;
  border-radius: 0;
  background-color: #990000;
  cursor: pointer;
  transform: rotate(90deg);
}
.master__patches {
  grid-area: patch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.master__save {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em;
}
.master__load {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em;
}
.master__rename {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em;
}
.master__patch-list {
  grid-area: list;
  background-color: #999999;
  border: 1px solid black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  font-family: Verdana, sans-serif;
}
.app__header {
  background-color: maroon;
  background-image: linear-gradient(red, maroon);
  display: grid;
  grid-template-columns: auto auto 1fr;
}
.app__logo {
  padding: 0.5em 2em 0;
}
.app__nav {
  width: 100%;
  justify-self: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.app__nav-sequencer {
  cursor: pointer;
  margin: 0.5em;
  padding: 0.25em 1em;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  background-color: transparent;
  border: 0.125em solid currentColor;
  border-radius: 0.5em;
  position: relative;
}
.app__nav-sequencer--active {
  color: #e6a21a;
  text-shadow: 0 0 0.25em currentColor;
  box-shadow: 0 0 0.5em currentColor, inset 0 0 0.5em currentColor;
}
.app__nav-sequencer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 0.5em currentColor;
  box-shadow: 0 0 0.5em currentColor, inset 0 0 0.25em currentColor;
  opacity: 0;
  transition: opacity 100ms linear;
}
.app__nav-sequencer:hover::after, .app__nav-sequencer:focus::after {
  opacity: 1;
}
.app__nav-synth {
  cursor: pointer;
  margin: 0.5em;
  padding: 0.25em 1em;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  background-color: transparent;
  border: 0.125em solid currentColor;
  border-radius: 0.5em;
  position: relative;
}
.app__nav-synth--active {
  color: #e6a21a;
  text-shadow: 0 0 0.25em currentColor;
  box-shadow: 0 0 0.5em currentColor, inset 0 0 0.5em currentColor;
}
.app__nav-synth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 0.5em currentColor;
  box-shadow: 0 0 0.5em currentColor, inset 0 0 0.25em currentColor;
  opacity: 0;
  transition: opacity 100ms linear;
}
.app__nav-synth:hover::after, .app__nav-synth:focus::after {
  opacity: 1;
}
.app__content {
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: minmax(0, 1fr);
}
.app__footer {
  background-color: maroon;
}
.app__copyright {
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
  color: #e6e6e6;
  text-align: right;
  padding: 0.75em;
}

/*# sourceMappingURL=style.css.map */
