$black: hsl(0, 0%, 0%);
$grey-10: hsl(0, 0%, 10%);
$grey-20: hsl(0, 0%, 20%);
$grey-30: hsl(0, 0%, 30%);
$grey-40: hsl(0, 0%, 40%);
$grey-50: hsl(0, 0%, 50%);
$grey-60: hsl(0, 0%, 60%);
$grey-70: hsl(0, 0%, 70%);
$grey-80: hsl(0, 0%, 80%);
$grey-90: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);

$primary-10: hsl(0, 100%, 10%);
$primary-20: hsl(0, 95%, 20%);
$primary-30: hsl(0, 90%, 30%);
$primary-40: hsl(0, 85%, 40%);
$primary-50: hsl(0, 80%, 50%);
$primary-60: hsl(0, 75%, 60%);

$secondary-10: hsl(40, 100%, 10%);
$secondary-20: hsl(40, 95%, 20%);
$secondary-30: hsl(40, 90%, 30%);
$secondary-40: hsl(40, 85%, 40%);
$secondary-50: hsl(40, 80%, 50%);
$secondary-60: hsl(40, 75%, 60%);

$highlight-10: hsl(195, 100%, 10%);
$highlight-20: hsl(195, 95%, 20%);
$highlight-30: hsl(195, 90%, 30%);
$highlight-40: hsl(195, 85%, 40%);
$highlight-50: hsl(195, 80%, 50%);
$highlight-60: hsl(195, 75%, 60%);

$green: hsl(120, 100%, 50%);

$brand1: hsl(0, 100%, 25%);
$brand2: hsl(0, 100%, 50%);
