@use "colours";

@mixin channelButton($backgroundColor) {
	cursor: pointer;
	margin: 0.5em;
	padding: 0.25em;
	border: 1px solid colours.$black;
	border-radius: 5px;
	background-color: transparent;

	&:hover {
		border: 1px solid colours.$white;
		color: colours.$white;
	}

	&--active {
		color: colours.$white;
		background-color: $backgroundColor;
	}
}
